# Basic dependabot.yml file with
# minimum configuration for two package managers

version: 2
updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
